  <template name="SideNav">
    <nav class="side-nav">
      <ul>
        <li>
        <a href="/Dashboard-show">
          <i class="fa fa-tachometer"></i>
          Dashboard
        </a>
        </li>
        <li>
        </li>
        <a href="/NewInmueble">
          <i class="fa fa-building-o"></i>
          Inmuebles
        </a>
        <li>
          <a href="/NewCustomer">
            <i class="fa fa-user-o"></i>
            Clientes
          </a>
        </li>

        <li>
        <a href="/IngresosEgresos">
          <i class="fa fa-money"></i>
          Ingresos/Egresos
        </a>
        </li>
      </ul>
    </nav>
  </template>
